Repository casper-network/casper-node, pull requests merged in 2021-07, with the labels that each got.

#1651 Adding emergency upgrades to nctl nightly runs
  ci/nightly-test.sh
  utils/nctl/sh/assets/compile.sh
  utils/nctl/sh/assets/compile_global_state_update_gen.sh
  utils/nctl/sh/assets/upgrade.sh
Labels: nctl

#1627 EE-1217: add get_call_stack, check immediate caller in auction
  Cargo.lock
  execution_engine/src/core/engine_state/executable_deploy_item.rs
  execution_engine/src/core/engine_state/genesis.rs
  execution_engine/src/core/engine_state/mod.rs
  execution_engine/src/core/execution/executor.rs
  execution_engine/src/core/resolvers/v1_function_index.rs
  execution_engine/src/core/resolvers/v1_resolver.rs
  execution_engine/src/core/runtime/auction_internal.rs
  execution_engine/src/core/runtime/externals.rs
  execution_engine/src/core/runtime/mint_internal.rs
  execution_engine/src/core/runtime/mod.rs
  execution_engine/src/core/runtime/scoped_instrumenter.rs
  execution_engine/src/core/tracking_copy/ext.rs
  execution_engine_testing/test_support/src/internal/deploy_item_builder.rs
  execution_engine_testing/test_support/src/internal/exec_with_return.rs
  execution_engine_testing/test_support/src/internal/execute_request_builder.rs
  execution_engine_testing/test_support/src/internal/wasm_test_builder.rs
  execution_engine_testing/tests/Cargo.toml
  execution_engine_testing/tests/src/test/contract_api/get_call_stack.rs
  execution_engine_testing/tests/src/test/contract_api/mod.rs
  execution_engine_testing/tests/src/test/contract_api/subcall.rs
  execution_engine_testing/tests/src/test/counter.rs
  execution_engine_testing/tests/src/test/deploy/stored_contracts.rs
  execution_engine_testing/tests/src/test/explorer/faucet_stored.rs
  execution_engine_testing/tests/src/test/explorer/mod.rs
  execution_engine_testing/tests/src/test/host_function_costs.rs
  execution_engine_testing/tests/src/test/regression/ee_1217.rs
  execution_engine_testing/tests/src/test/regression/ee_1217_mint_proxy.rs
  execution_engine_testing/tests/src/test/regression/mod.rs
  execution_engine_testing/tests/src/test/upgrade.rs
  smart_contracts/contract/src/contract_api/runtime.rs
  smart_contracts/contract/src/ext_ffi.rs
  smart_contracts/contracts/test/ee-1217-regression/Cargo.toml
  smart_contracts/contracts/test/ee-1217-regression/src/main.rs
  smart_contracts/contracts/test/get-call-stack-call-recursive-subcall/Cargo.toml
  smart_contracts/contracts/test/get-call-stack-call-recursive-subcall/src/main.rs
  smart_contracts/contracts/test/get-call-stack-recursive-subcall/Cargo.toml
  smart_contracts/contracts/test/get-call-stack-recursive-subcall/src/lib.rs
  smart_contracts/contracts/test/get-call-stack-recursive-subcall/src/main.rs
  smart_contracts/contracts/test/host-function-costs/src/main.rs
  types/src/system/auction/mod.rs
  types/src/system/auction/providers.rs
  types/src/system/mint/error.rs
  types/src/system/mint/mod.rs
  types/src/system/mint/runtime_provider.rs
  types/src/system/mod.rs
Labels: release blocker

#1656 Apply standstill alert only for joining nodes.
  node/src/components/consensus/era_supervisor.rs
Labels: consensus

#1654 Finish fast sync when in current era.
  node/src/components/linear_chain_sync.rs
  node/src/components/linear_chain_sync/error.rs
  node/src/components/linear_chain_sync/operations.rs
  node/src/components/linear_chain_sync/state.rs
  node/src/types/chainspec/network_config.rs
Labels: fast-sync

#1660 NDRS-846: Add unbonding to existing bonding scenario
  utils/nctl/sh/scenarios/bond_its.sh
  utils/nctl/sh/scenarios/chainspecs/bond_its.chainspec.toml.in
  utils/nctl/sh/scenarios/common/itst.sh
  utils/nctl/sh/scenarios/itst13.sh
Labels: nctl

#1705 Backport 1.2.1 to dev
  Cargo.lock
  execution_engine/src/core/engine_state/mod.rs
  execution_engine/src/core/runtime/auction_internal.rs
  execution_engine/src/core/runtime/mod.rs
  execution_engine_testing/test_support/src/internal/wasm_test_builder.rs
  execution_engine_testing/tests/src/test/regression/mod.rs
  execution_engine_testing/tests/src/test/regression/regression_20210707.rs
  execution_engine_testing/tests/src/test/system_contracts/auction/bids.rs
  execution_engine_testing/tests/src/test/system_contracts/auction_bidding.rs
  smart_contracts/contracts/test/regression-20210707/Cargo.toml
  smart_contracts/contracts/test/regression-20210707/src/main.rs
  types/src/system/auction/detail.rs
  types/src/system/auction/error.rs
  types/src/system/auction/mod.rs
  types/src/system/auction/providers.rs
Labels: bug, execution engine

#1693 NCTL: nctl-exec-upgrade-scenario-3
  ci/nctl_upgrade.sh
  utils/nctl/activate
  utils/nctl/sh/assets/setup_from_stage.sh
  utils/nctl/sh/scenarios-upgrades/upgrade_scenario_03.sh
  utils/nctl/sh/scenarios/accounts_toml/upgrade_scenario_3.accounts.toml
  utils/nctl/sh/scenarios/chainspecs/upgrade_scenario_3.chainspec.toml.in
  utils/nctl/sh/utils/blocking.sh
Labels: nctl

#1678 End to end Dictionary feature delivery and testing (EE, node rpc, client-rs)
  Cargo.lock
  client/lib/error.rs
  client/lib/ffi.rs
  client/lib/lib.rs
  client/lib/rpc.rs
  client/src/main.rs
  client/src/query_dictionary.rs
  execution_engine/src/core/execution/error.rs
  execution_engine/src/core/resolvers/v1_resolver.rs
  execution_engine/src/core/runtime/externals.rs
  execution_engine/src/core/runtime/mod.rs
  execution_engine/src/core/runtime_context/dictionary.rs
  execution_engine/src/core/runtime_context/mod.rs
  execution_engine_testing/test_support/src/internal/wasm_test_builder.rs
  execution_engine_testing/test_support/src/test_context.rs
  execution_engine_testing/tests/src/test/contract_api/dictionary.rs
  node/src/components/rpc_server/http_server.rs
  node/src/components/rpc_server/rpcs.rs
  node/src/components/rpc_server/rpcs/docs.rs
  node/src/components/rpc_server/rpcs/state.rs
  smart_contracts/contract/src/contract_api/mod.rs
  smart_contracts/contract/src/contract_api/storage.rs
  smart_contracts/contract/src/ext_ffi.rs
  smart_contracts/contract_as/assembly/dictionary.ts
  smart_contracts/contract_as/assembly/externals.ts
  smart_contracts/contracts/test/dictionary-call/src/bin/main.rs
  smart_contracts/contracts/test/dictionary-call/src/lib.rs
  smart_contracts/contracts/test/dictionary-item-key-length/Cargo.toml
  smart_contracts/contracts/test/dictionary-item-key-length/src/main.rs
  smart_contracts/contracts/test/dictionary/src/lib.rs
  smart_contracts/contracts_as/test/dictionary/assembly/index.ts
  types/src/api_error.rs
  types/src/key.rs
  types/src/lib.rs
Labels: client, execution engine, node, release blocker

#1722 NCTL - re-enable scenario 3 in CI
  ci/nctl_upgrade.sh
  utils/nctl/sh/scenarios-upgrades/upgrade_scenario_03.sh
Labels: nctl

#1723 NCTL: ports changes from dev
  utils/nctl/sh/scenarios-upgrades/upgrade_scenario_03.sh
  utils/nctl/sh/staging/set_remote.sh
Labels: nctl

#1724 Documentation update and casper association branding
  README.md
  ci/nctl_upgrade.sh
  ci/nightly-test.sh
  client/Cargo.toml
  client/lib/lib.rs
  execution_engine/Cargo.toml
  execution_engine/README.md
  execution_engine/src/lib.rs
  execution_engine/src/shared/logging/README.md
  execution_engine_testing/cargo_casper/Cargo.toml
  execution_engine_testing/cargo_casper/README.md
  execution_engine_testing/test_support/Cargo.toml
  execution_engine_testing/test_support/README.md
  execution_engine_testing/test_support/src/lib.rs
  images/CasperLabs_Logo_Horizontal_RGB.png
  images/casper-association-logo-primary.svg
  node/Cargo.toml
  node/README.md
  node/src/components/rpc_server/rpcs/docs.rs
  node/src/lib.rs
  node_macros/Cargo.toml
  node_macros/README.md
  node_macros/src/lib.rs
  smart_contracts/contract/Cargo.toml
  smart_contracts/contract/README.md
  smart_contracts/contract/src/lib.rs
  smart_contracts/contract_as/README.md
  types/Cargo.toml
  types/README.md
  types/src/lib.rs
  utils/nctl/sh/staging/set_from_commit.sh
Labels: 1.3.0

#1751 Wrap deploy-accepted event stream event
  node/src/components/event_stream_server/sse_server.rs
  node/src/components/event_stream_server/tests.rs
Labels: 1.3.0

#1750 Fix incorrect representation of BlockIdentifier | Backport to 1.3
  node/CHANGELOG.md
  node/src/components/rpc_server/rpcs/docs.rs
Labels: 1.3.0

#1749 Versioning CHANGELOG.md for 1.3.0 cut.
  client/CHANGELOG.md
  resources/production/chainspec.toml
Labels: 1.3.0

#1637 Re-enable banning faulty validators
  node/src/components/consensus/era_supervisor.rs
  node/src/components/contract_runtime.rs
  node/src/reactor/participating.rs
  node/src/reactor/participating/tests.rs
Labels: consensus

#1777 NCTL: add timeout to delegation check
  utils/nctl/sh/scenarios-upgrades/upgrade_scenario_03.sh
Labels: nctl

#1762 Fix issues with pings and doppelgänger detection.
  node/src/components/consensus/highway_core/active_validator.rs
  node/src/components/consensus/highway_core/finality_detector/horizon.rs
  node/src/components/consensus/highway_core/highway.rs
  node/src/components/consensus/highway_core/highway_testing.rs
  node/src/components/consensus/highway_core/state.rs
  node/src/components/consensus/highway_core/state/panorama.rs
  node/src/components/consensus/highway_core/state/unit.rs
  node/src/components/consensus/highway_core/validators.rs
  node/src/components/consensus/protocols/highway.rs
Labels: consensus

#1794 CI: fix overwriting issue in nctl bucket
  .drone.yml
Labels: nctl

#1293 EE-1225: Payment purse invariants
  Cargo.lock
  execution_engine/CHANGELOG.md
  execution_engine_testing/tests/src/test/regression/ee_1225.rs
  execution_engine_testing/tests/src/test/regression/mod.rs
  smart_contracts/contracts/test/ee-1225-regression/Cargo.toml
  smart_contracts/contracts/test/ee-1225-regression/src/main.rs
  types/src/system/handle_payment/error.rs
  types/src/system/handle_payment/mod.rs
Labels: execution engine, upgrade-safe
