Repository casper-network/casper-node, pull requests merged in 2021-06, with the labels that each got.

#1521 OP-2047: NCTL - Use assert_node_proposed with timeout
  utils/nctl/sh/scenarios/bond_its.sh
  utils/nctl/sh/scenarios/common/itst.sh
  utils/nctl/sh/scenarios/itst14.sh
Labels: nctl

#1540 Add EffectBuilder::get_consensus_validator_info.
  node/src/components/consensus.rs
  node/src/components/consensus/era_supervisor.rs
  node/src/components/consensus/era_supervisor/era.rs
  node/src/components/consensus/validator_change.rs
  node/src/effect.rs
  node/src/effect/requests.rs
  node/src/reactor/joiner.rs
Labels: consensus

#1583 Fix new_era() arguments mix-up.
  node/src/components/consensus/era_supervisor.rs
Labels: bug, consensus

#1592 Add holders of transitive dependencies in synchronizer.
  node/src/components/consensus/highway_core/synchronizer.rs
  node/src/components/consensus/highway_core/synchronizer/tests.rs
Labels: consensus

#1607 Mark known faulty validators when initializing eras.
  node/src/components/consensus/era_supervisor.rs
  node/src/components/consensus/era_supervisor/era.rs
  node/src/components/consensus/highway_core/state.rs
  node/src/components/consensus/protocols/highway.rs
  node/src/components/consensus/protocols/highway/tests.rs
  node/src/reactor/participating.rs
  node/src/reactor/participating/tests.rs
Labels: consensus

#1504 GH-1470: Group restriction fix
  Cargo.lock
  execution_engine/Cargo.toml
  execution_engine/src/core/engine_state/genesis.rs
  execution_engine/src/core/engine_state/run_genesis_request.rs
  execution_engine/src/core/engine_state/upgrade.rs
  execution_engine/src/core/execution/error.rs
  execution_engine/src/core/runtime/mod.rs
  execution_engine/src/shared/newtypes/blake2b256.rs
  execution_engine_testing/tests/Cargo.toml
  execution_engine_testing/tests/fixtures/release_1_2_0/global_state/data.lmdb
  execution_engine_testing/tests/fixtures/release_1_2_0/global_state/data.lmdb-lock
  execution_engine_testing/tests/fixtures/release_1_2_0/state.json
  execution_engine_testing/tests/src/lib.rs
  execution_engine_testing/tests/src/lmdb_fixture.rs
  execution_engine_testing/tests/src/test/regression/gh_1470.rs
  execution_engine_testing/tests/src/test/regression/mod.rs
  smart_contracts/contracts/test/do-nothing-stored-upgrader/src/main.rs
  smart_contracts/contracts/test/do-nothing-stored/src/main.rs
  smart_contracts/contracts/test/gh-1470-regression-call/Cargo.toml
  smart_contracts/contracts/test/gh-1470-regression-call/src/bin/main.rs
  smart_contracts/contracts/test/gh-1470-regression-call/src/lib.rs
  smart_contracts/contracts/test/gh-1470-regression/Cargo.toml
  smart_contracts/contracts/test/gh-1470-regression/src/bin/main.rs
  smart_contracts/contracts/test/gh-1470-regression/src/lib.rs
  smart_contracts/contracts/test/transfer-purse-to-accounts-stored/src/main.rs
  smart_contracts/contracts_as/client/undelegate/assembly/index.ts
  smart_contracts/contracts_as/test/do-nothing-stored-upgrader/assembly/index.ts
  smart_contracts/contracts_as/test/do-nothing-stored/assembly/index.ts
  types/src/cl_type.rs
  types/src/contracts.rs
  types/src/lib.rs
  types/src/runtime_args.rs
  types/src/system/auction/entry_points.rs
  types/src/system/auction/mod.rs
  types/src/system/handle_payment/entry_points.rs
  types/src/system/handle_payment/mod.rs
  types/src/system/mint/entry_points.rs
  types/src/system/mint/mod.rs
  types/src/system/standard_payment/entry_points.rs
  types/src/system/standard_payment/mod.rs
Labels: release blocker

#1636 Add configurable upper limit of concurrent event stream clients
  node/src/components/event_stream_server.rs
  node/src/components/event_stream_server/config.rs
  node/src/components/event_stream_server/sse_server.rs
  node/src/components/event_stream_server/tests.rs
  resources/local/config.toml
  resources/production/config-example.toml
Labels: release blocker
