Repository casper-network/casper-node, pull requests merged in 2021-10, with the labels that each got.

#2178 Check the immediate caller in system contracts.
  Cargo.lock
  execution_engine/src/core/runtime/auction_internal.rs
  execution_engine/src/core/runtime/mod.rs
  execution_engine_testing/tests/src/test/regression/ee_1217.rs
  execution_engine_testing/tests/src/test/regression/mod.rs
  execution_engine_testing/tests/src/test/regression/regression_20210831.rs
  smart_contracts/contracts/test/ee-1217-regression/src/main.rs
  smart_contracts/contracts/test/regression-20210831/Cargo.toml
  smart_contracts/contracts/test/regression-20210831/src/main.rs
  types/src/system/auction/mod.rs
  types/src/system/auction/providers.rs
Labels: bug, execution engine

#2127 Eras in memory
  node/src/components/consensus.rs
  node/src/components/consensus/config.rs
  node/src/components/consensus/era_supervisor.rs
  node/src/components/consensus/era_supervisor/era.rs
  node/src/components/consensus/error.rs
  node/src/components/consensus/protocols/highway.rs
  node/src/components/consensus/protocols/highway/tests.rs
  node/src/components/linear_chain_sync/operations.rs
  node/src/components/rpc_server/rpcs/chain.rs
  node/src/reactor/participating.rs
  node/src/reactor/participating/tests.rs
  node/src/types/block.rs
  types/src/era_id.rs
Labels: consensus

#2238 Remove ERC20 from `cargo-casper`
  execution_engine_testing/cargo_casper/CHANGELOG.md
  execution_engine_testing/cargo_casper/README.md
  execution_engine_testing/cargo_casper/resources/Makefile.in
  execution_engine_testing/cargo_casper/resources/erc20/Makefile.in
  execution_engine_testing/cargo_casper/resources/erc20/integration_tests.rs.in
  execution_engine_testing/cargo_casper/resources/erc20/main.rs.in
  execution_engine_testing/cargo_casper/resources/erc20/test_fixture.rs.in
  execution_engine_testing/cargo_casper/resources/integration_tests.rs.in
  execution_engine_testing/cargo_casper/resources/main.rs.in
  execution_engine_testing/cargo_casper/src/contract_package.rs
  execution_engine_testing/cargo_casper/src/erc20.rs
  execution_engine_testing/cargo_casper/src/main.rs
  execution_engine_testing/cargo_casper/src/makefile.rs
  execution_engine_testing/cargo_casper/src/simple.rs
  execution_engine_testing/cargo_casper/src/tests_package.rs
  execution_engine_testing/cargo_casper/tests/integration_tests.rs
Labels: release blocker
