Repository casper-network/casper-node, pull requests merged in 2021-08, with the labels that each got.

#1824 NCTL: add custom config for bonds_its scenario
  utils/nctl/sh/scenarios/configs/bond_its.config.toml
Labels: nctl

#1300 EE-1229: Validator slots clarification
  execution_engine/CHANGELOG.md
  execution_engine/src/core/engine_state/genesis.rs
  execution_engine_testing/tests/src/test/system_contracts/auction/bids.rs
  types/src/system/auction/mod.rs
Labels: upgrade-safe

#1326 EE-1221: Increase create purse / mint entry point cost
  execution_engine/CHANGELOG.md
  execution_engine/src/shared/host_function_costs.rs
  execution_engine/src/shared/system_config/mint_costs.rs
  execution_engine_testing/tests/src/test/system_contracts/handle_payment/finalize_payment.rs
  execution_engine_testing/tests/src/test/system_contracts/handle_payment/refund_purse.rs
  resources/local/chainspec.toml.in
  resources/production/chainspec.toml
  resources/test/valid/0_9_0/chainspec.toml
  resources/test/valid/0_9_0_unordered/chainspec.toml
  resources/test/valid/1_0_0/chainspec.toml
  smart_contracts/contracts/test/finalize-payment/src/main.rs
  smart_contracts/contracts/test/refund-purse/src/main.rs
  utils/nctl/sh/scenarios/chainspecs/bond_its.chainspec.toml.in
  utils/nctl/sh/scenarios/chainspecs/itst13.chainspec.toml.in
  utils/nctl/sh/scenarios/chainspecs/itst14.chainspec.toml.in
Labels: execution engine, upgrade-safe

#1317 EE-1226: Fix bid docstrings
  execution_engine/CHANGELOG.md
  types/src/system/auction/mod.rs
Labels: execution engine, upgrade-safe

#1862 Add more asserts to run_equivocator_network.
  node/src/reactor/participating/tests.rs
Labels: consensus

#1895 Fixes to get nctl tests working again.
  Makefile
  node/src/components/linear_chain_sync/error.rs
  node/src/components/linear_chain_sync/operations.rs
  resources/local/config.toml
  resources/production/config-example.toml
  utils/nctl/sh/assets/compile_node.sh
  utils/nctl/sh/scenarios/configs/itst13.config.toml
  utils/nctl/sh/staging/build.sh
Labels: fast-sync

#1928 Make Block::verify private.
  client/lib/validation.rs
  node/src/components/fetcher.rs
  node/src/components/linear_chain_sync/operations.rs
  node/src/components/storage.rs
  node/src/crypto/hash.rs
  node/src/types/block.rs
  node/src/types/error.rs
Labels: fast-sync

#1360 EE-1248: Test fixtures
  Cargo.lock
  Cargo.toml
  execution_engine/CHANGELOG.md
  types/src/execution_result.rs
  utils/validation/Cargo.toml
  utils/validation/README.md
  utils/validation/src/abi.rs
  utils/validation/src/error.rs
  utils/validation/src/generators.rs
  utils/validation/src/lib.rs
  utils/validation/src/main.rs
  utils/validation/src/test_case.rs
  utils/validation/src/utils.rs
  utils/validation/tests/fixtures/ABI/basic.json
  utils/validation/tests/fixtures/ABI/bignum.json
  utils/validation/tests/fixtures/ABI/clvalue.json
  utils/validation/tests/fixtures/ABI/collections.json
  utils/validation/tests/fixtures/ABI/key.json
  utils/validation/tests/fixtures/ABI/stored_value.json
  utils/validation/tests/fixtures/ABI/transform.json
  utils/validation/tests/validation_test.rs
Labels: execution engine, upgrade-safe

#2011 Disable shutdown on standstill in some tests.
  resources/local/config.toml
  utils/nctl/sh/scenarios/configs/bond_its.config.toml
  utils/nctl/sh/scenarios/configs/gov96.config.toml
  utils/nctl/sh/scenarios/configs/itst13.config.toml
Labels: consensus

#1998 Sufficient Signatures
  node/src/components/fetcher.rs
  node/src/components/fetcher/tests.rs
  node/src/components/gossiper/tests.rs
  node/src/components/storage.rs
  node/src/components/storage/tests.rs
  node/src/effect.rs
  node/src/effect/requests.rs
  node/src/reactor/initializer.rs
  node/src/reactor/participating.rs
Labels: release blocker
